################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/State Pattern/State_Pattern/State_Pattern/bin/Debug/netcoreapp3.1
/State Pattern/State_Pattern/State_Pattern/obj/Debug/netcoreapp3.1
*.v2
/State Pattern/State_pattern_Exercise/DirectionServiceExercise/DirectionServiceExercise/obj
/State Pattern/State_pattern_Exercise/DirectionServiceExercise/.vs/DirectionServiceExercise/v16
/State Pattern/State_pattern_Exercise/DirectionServiceExercise/DirectionServiceExercise/bin/Debug/netcoreapp3.1
/Itterator_Pattern/ItteratorPattern/ItteratorPattern/bin/Debug/netcoreapp3.1
/Itterator_Pattern/ItteratorPattern/ItteratorPattern/obj
/Itterator_Pattern/Itterator_Pattern_Exercise/.vs
/Itterator_Pattern/Itterator_Pattern_Exercise/Itterator_Exercise/bin/Debug/netcoreapp3.1
/Itterator_Pattern/Itterator_Pattern_Exercise/Itterator_Exercise/.vs/Itterator_Exercise/v16
/Itterator_Pattern/Itterator_Pattern_Exercise/Itterator_Exercise/obj
/Strategy_Pattern/.vs
/Strategy_Pattern/Strategy_Pattern/bin/Debug/netcoreapp3.1
/Strategy_Pattern/Strategy_Pattern/obj
/Strategy_Pattern/Strategy_Pattern_Exercise/Strategy_Pattern_Exercise/obj
/Strategy_Pattern/Strategy_Pattern_Exercise/.vs
/Strategy_Pattern/Strategy_Pattern_Exercise/Strategy_Pattern_Exercise/.vs/Strategy_Pattern_Exercise/v16
/Strategy_Pattern/Strategy_Pattern_Exercise/Strategy_Pattern_Exercise/bin/Debug/netcoreapp3.1
/Template Method Pattern/Template_Method_pattern/.vs/Template_Method_pattern/v16
/Template Method Pattern/Template_Method_pattern/obj
/Template Method Pattern/Template_Method_pattern/bin/Debug/netcoreapp3.1
/Template Method Pattern/Template_Method_Pattern_Exercise/Template_Pattern_Exercise/obj
/Template Method Pattern/Template_Method_Pattern_Exercise/.vs/Template_Method_Pattern_Exercise/v16
/Template Method Pattern/Template_Method_Pattern_Exercise/Template_Pattern_Exercise/.vs/Template_Pattern_Exercise/v16
/Template Method Pattern/Template_Method_Pattern_Exercise/.vs
/Template Method Pattern/Template_Method_Pattern_Exercise/Template_Pattern_Exercise/bin/Debug/netcoreapp3.1
/MementoPattern/MementoPattern/bin/Debug/netcoreapp3.1
/MementoPattern/MementoPattern/obj
/Command Pattern/.vs
/Command Pattern/Command Pattern/.vs/Command Pattern/v16
/Command Pattern/Command Pattern/obj
/Command Pattern/Command Pattern/bin/Debug/netcoreapp3.1
/Command Pattern/Command Pattern Exercise/.vs
/Command Pattern/Command Pattern Exercise/Command Pattern Exercise/.vs/Command Pattern Exercise/v16
/Command Pattern/Command Pattern Exercise/Command Pattern Exercise/obj
/Command Pattern/Command Pattern Exercise/Command Pattern Exercise/.vs
/Command Pattern/Command Pattern Exercise/Command Pattern Exercise/bin/Debug/netcoreapp3.1
/Observer Pattern/.vs
/Observer Pattern/Observer Pattern/.vs/Observer Pattern/v16
/Observer Pattern/Observer Pattern/bin/Debug/netcoreapp3.1
/Observer Pattern/Observer Pattern/obj
/Observer Pattern/Observer Pattern Exercise/Observer Pattern Exercise/.vs/Observer Pattern Exercise/v16
/Observer Pattern/Observer Pattern Exercise/Observer Pattern Exercise/obj
/Observer Pattern/Observer Pattern Exercise/Observer Pattern Exercise/bin/Debug/netcoreapp3.1
/Mediator Pattern/Mediator Pattern/.vs/Mediator Pattern/v16
/Mediator Pattern/Mediator Pattern/bin/Debug/netcoreapp3.1
/Mediator Pattern/Mediator Pattern/obj
/Mediator Pattern/Mediator Pattern using Observer Pattern/Meadiator Using Observer/.vs/Meadiator Using Observer/v16
/Mediator Pattern/Mediator Pattern using Observer Pattern/Meadiator Using Observer/obj
/Mediator Pattern/Mediator Pattern Exercise/Mediator Exercise/.vs/Mediator Exercise/v16
/Mediator Pattern/Mediator Pattern Exercise/Mediator Exercise/obj
/Mediator Pattern/Mediator Pattern using Observer Pattern/Meadiator Using Observer/bin/Debug/netcoreapp3.1
/Mediator Pattern/Mediator Pattern Exercise/Mediator Exercise/bin/Debug/netcoreapp3.1
/Chain Of Responsibility Pattern/Chain Of Responsibility/.vs/Chain Of Responsibility/v16
/Chain Of Responsibility Pattern/Chain Of Responsibility/bin/Debug/netcoreapp3.1
/Chain Of Responsibility Pattern/Chain Of Responsibility/obj
/Chain Of Responsibility Pattern/ChainOfResponsibility Exercise/Chain Of Responsibility Exercise/.vs/Chain Of Responsibility Exercise/v16
/Chain Of Responsibility Pattern/ChainOfResponsibility Exercise/Chain Of Responsibility Exercise/bin/Debug/netcoreapp3.1
/Chain Of Responsibility Pattern/ChainOfResponsibility Exercise/Chain Of Responsibility Exercise/obj
/Visitor Pattern/Visitor Pattern/.vs/Visitor Pattern/v16
/Visitor Pattern/Visitor Pattern/bin/Debug/netcoreapp3.1
/Visitor Pattern/Visitor Pattern/obj
/Visitor Pattern/Visitor Pattern Exercise/.vs/Visitor Pattern Exercise/v16
/Visitor Pattern/Visitor Pattern Exercise/obj
/Visitor Pattern/Visitor Pattern Exercise/bin/Debug/netcoreapp3.1
/Composite Pattern/Composite Pattern/obj
/Composite Pattern/Composite Pattern/.vs/Composite Pattern/v16
/Composite Pattern/Composite Pattern/bin/Debug/netcoreapp3.1
/Composite Pattern/Composite Pattern Exercise/.vs/Composite Pattern Exercise/v16
/Composite Pattern/Composite Pattern Exercise/bin/Debug/netcoreapp3.1
/Composite Pattern/Composite Pattern Exercise/obj
/Adapter Pattern/Adapter Pattern/.vs/Adapter Pattern/v16
/Adapter Pattern/Adapter Pattern/bin/Debug/netcoreapp3.1
/Adapter Pattern/Adapter Pattern/obj
/Adapter Pattern/Adapter Pattern Exercise/.vs/Adapter Pattern Exercise/v16
/Adapter Pattern/Adapter Pattern Exercise/obj
/Adapter Pattern/Adapter Pattern Exercise/bin/Debug/netcoreapp3.1
/Decorator Pattern/Decorator Pattern/.vs/Decorator Pattern/v16
/Decorator Pattern/Decorator Pattern/obj
/Decorator Pattern/Decorator Pattern/bin/Debug/netcoreapp3.1
/Decorator Pattern/Decorator Pattern Exercise/.vs/Decorator Pattern Exercise/v16
/Decorator Pattern/Decorator Pattern Exercise/obj
/Decorator Pattern/Decorator Pattern Exercise/bin/Debug/netcoreapp3.1
/Facade Pattern/Facade Pattern/.vs/Facade Pattern/v16
/Facade Pattern/Facade Pattern/bin/Debug/netcoreapp3.1
/Facade Pattern/Facade Pattern/obj
/Facade Pattern/Facade Pattern Exercise/.vs/Facade Pattern Exercise/v16
/Facade Pattern/Facade Pattern Exercise/bin/Debug/netcoreapp3.1
/Facade Pattern/Facade Pattern Exercise/obj
/Flyweight Pattern/Flyweight Pattern/.vs/Flyweight Pattern/v16
/Flyweight Pattern/Flyweight Pattern/bin/Debug/netcoreapp3.1
/Flyweight Pattern/Flyweight Pattern/obj
/Flyweight Pattern/Flyweight Pattern Exercise/.vs/Flyweight Pattern Exercise/v16
/Flyweight Pattern/Flyweight Pattern Exercise/bin/Debug/netcoreapp3.1
/Flyweight Pattern/Flyweight Pattern Exercise/obj
/Bridge Pattern/Bridge Pattern/.vs/Bridge Pattern/v16
/Bridge Pattern/Bridge Pattern/obj
/Bridge Pattern/Bridge Pattern/bin/Debug/netcoreapp3.1
/Proxy Pattern/Proxy Pattern/.vs/Proxy Pattern/v16
/Proxy Pattern/Proxy Pattern/bin/Debug/netcoreapp3.1
/Proxy Pattern/Proxy Pattern/obj
/Proxy Pattern/Proxy Pattern Exercise/.vs/Proxy Pattern Exercise/v16
/Proxy Pattern/Proxy Pattern Exercise/bin/Debug/netcoreapp3.1
/Proxy Pattern/Proxy Pattern Exercise/obj
/Prototype Pattern/Prototype Pattern/.vs/Prototype Pattern/v16
/Prototype Pattern/Prototype Pattern/bin/Debug/netcoreapp3.1
/Prototype Pattern/Prototype Pattern/obj
/Prototype Pattern/Prototype Pattern Exercise/.vs/Prototype Pattern Exercise/v16
/Prototype Pattern/Prototype Pattern Exercise/obj
/Prototype Pattern/Prototype Pattern Exercise/bin/Debug/netcoreapp3.1
/Singleton Pattern/Single Pattern/.vs/Single Pattern/v16
/Singleton Pattern/Single Pattern/obj
/Singleton Pattern/Single Pattern/bin/Debug/netcoreapp3.1
/Singleton Pattern/Singleton Pattern Exercise/.vs/Singleton Pattern Exercise/v16
/Singleton Pattern/Singleton Pattern Exercise/bin/Debug/netcoreapp3.1
/Singleton Pattern/Singleton Pattern Exercise/obj
/Factory Method Pattern/Factory Method Pattern/.vs/Factory Method Pattern/v16
/Factory Method Pattern/Factory Method Pattern/obj
