################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/State Pattern/State_Pattern/State_Pattern/bin/Debug/netcoreapp3.1
/State Pattern/State_Pattern/State_Pattern/obj/Debug/netcoreapp3.1
*.v2
/State Pattern/State_pattern_Exercise/DirectionServiceExercise/DirectionServiceExercise/obj
/State Pattern/State_pattern_Exercise/DirectionServiceExercise/.vs/DirectionServiceExercise/v16
/State Pattern/State_pattern_Exercise/DirectionServiceExercise/DirectionServiceExercise/bin/Debug/netcoreapp3.1
/Itterator_Pattern/ItteratorPattern/ItteratorPattern/bin/Debug/netcoreapp3.1
/Itterator_Pattern/ItteratorPattern/ItteratorPattern/obj
/Itterator_Pattern/Itterator_Pattern_Exercise/.vs
/Itterator_Pattern/Itterator_Pattern_Exercise/Itterator_Exercise/bin/Debug/netcoreapp3.1
/Itterator_Pattern/Itterator_Pattern_Exercise/Itterator_Exercise/.vs/Itterator_Exercise/v16
/Itterator_Pattern/Itterator_Pattern_Exercise/Itterator_Exercise/obj
